if SHIELD_SUITE61_LEFT

config ZMK_KEYBOARD_NAME
    defalt "Suite61"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SUITE61_LEFT || SHIELD_SUITE61_RIGHT

config ZMK_SPLIT 
    default y

endif