config SHIELD_SUITE61
    def_bool $(shields_list_contains,suite61)

config SHIELD_SUITE61_LEFT
    def_bool $(shields_list_contains,suite61_left)

config SHIELD_SUITE61_RIGHT
    def_bool $(shields_list_contains,suite61_right)